<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HomeAccessPlus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC78D3081C5D7E5E00254B07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCB1D9E51C09F54C00DEC02E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCB1D9FB1C09F54C00DEC02E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
