<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.uk.co.stuajnht.ios.HomeAccessPlus</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
			<key>FooterText</key>
			<string>Copyright (C) 2015, 2016 Jonathan Hart</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>versionBuildNumber</string>
			<key>DefaultValue</key>
			<string>- (-)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements - CocoaPods</string>
			<key>File</key>
			<string>AcknowledgementsCocoaPods</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements - Other Projects</string>
			<key>File</key>
			<string>AcknowledgementsOtherProjects</string>
		</dict>
	</array>
</dict>
</plist>
